* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
}

.flex {
  display: flex;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}

.change-color {}

.change-color:hover {
  transition: 0s ease-out;
  color: #edab56;
}

.change-color:not(:hover) {
  transition: 0s ease-out
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}